# Ignore OS files
.DS_Store
Thumbs.db

# Logs and env
*.log
.env
.env.*

# Frontend Angular
/UI/node_modules/
/UI/dist/
/UI/.angular/cache/
/UI/coverage/
/UI/test-results/
/UI/.vscode/
/UI/.idea/

# Backend NestJS
/API/movie-review-api/node_modules/
/API/movie-review-api/dist/
/API/movie-review-api/coverage/
/API/movie-review-api/test-results/
/API/movie-review-api/.vscode/
/API/movie-review-api/.idea/
/API/movie-review-api/.env

# Optional: Ignore compiled JS files if using TS
/API/movie-review-api/**/*.js
/API/movie-review-api/**/*.js.map
/API/movie-review-api/**/*.d.ts

# Global coverage and test folders
/coverage/
/test-results/
